h1,
h2,
h3,
h4 .tops,
p,
button,
address,
ul,
ol {
  font-family: Fredoka One;
  text-align: center;
  text-decoration: none;
  color: black;
}
h1 {
  padding-top: 1rem;
  font-size: 3.5rem;
  color: #030301;
}
#main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 2rem;
  background-color: #FCFDAF;
}
#main a.top {
  text-decoration: none;
  color: #00D9C0;
  margin-top: 0.5rem;
  font-family: Fredoka One;
  background-color: #FCFDAF;
}
#main a:hover {
  color: #FF4365;
}
body {
  margin: 0 auto;
}
#banner {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #FCFDAF;
  flex-wrap: wrap;
  padding: 2rem;
}
#banner header {
  width: 80%;
}
#banner .tops {
  width: 80%;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.carousel {
  position: relative;
  overflow: hidden;
  padding: 0 0 2em 0;
  margin-bottom: 0;
}
.carousel .forward:before,
.carousel .backward:before {
  content: '';
  display: none;
  width: 7em;
  height: 6em;
  border-radius: 30%;
  background-color: #FCFDAF;
  position: absolute;
  top: 50%;
  margin-top: -8em;
  -moz-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
}
@media (min-width: 500px) {
  .carousel .forward:before,
  .carousel .backward:before {
    display: block;
  }
}
.carousel .forward:after,
.carousel .backward:after {
  content: '';
  width: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  margin: -1.5em 0 0 0;
  background: url("images/arrow.svg") no-repeat center center;
}
.carousel .forward:hover:before,
.carousel .backward:hover:before {
  background-color: #FF4365;
  cursor: pointer;
}
.carousel .forward {
  right: 0;
}
.carousel .forward:before {
  right: -3em;
}
.carousel .forward:after {
  right: -0.25em;
}
.carousel .backward {
  left: 0;
}
.carousel .backward:before {
  left: -3em;
}
.carousel .backward:after {
  left: -0.25em;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.carousel .reel {
  white-space: nowrap;
  position: relative;
  -webkit-overflow-scrolling: touch;
  padding: 0 2em 0 2em;
}
@media (min-width: 500px) {
  .carousel .reel {
    padding: 0;
  }
}
.carousel article {
  display: block;
  background: #F8F9FA;
  text-align: center;
  white-space: normal;
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}
@media (min-width: 500px) {
  .carousel article {
    display: inline-block;
    width: 50%;
  }
}
.carousel article img {
  position: relative;
  top: 0;
  width: 100%;
}
.carousel article p {
  text-align: center;
  font-size: 0.75rem;
  padding: 0.3rem;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.wrapper article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}
.wrapper article a img {
  width: 100%;
  text-align: center;
}
.wrapper article button {
  border: 1px solid #030301;
  padding: 15px;
  width: 30%;
  background-color: #FCFDAF;
}
.wrapper article button a {
  font-size: 1.2rem;
  color: #030301;
  text-decoration: none;
}
.wrapper article button:hover {
  cursor: pointer;
  background-color: #FF4365;
}
.wrapper article p {
  width: 80%;
  padding: 1rem;
}
.bottom {
  display: flex;
  justify-content: center;
}
